/* General Setup */
body {
    width: 100vw;
    min-width: 80px;
    margin: 0 auto;
    height: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(./assets/HP\ Background\ Image.jpg);
}

.page-1 {
    background-image: url(./assets/Wand_experience_Ollivanders_exterior__Normal_width.jpg);
    background-size: cover;
    height: 70vw;
    /* text-align: center; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* flex-basis: 50%; */
}

.box-0{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50vw;
}

.page-3 {
    width: 100vw;
}

#findYourWand{
    background-color: #6b63b5;

}


.page-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 30%;
    margin-top: 50px;
    height: 60vh;
}

.box1, .box2, .box3{
    border:1px white solid;
    padding:10px;
    margin: 2px;
    width: 40%
}

.box1{
flex:1;
order:1;
}

.box2{
flex:1;
order:2;
}

.box3{
flex:1; 
order:3;
}

/* TYPOGRAPHY */
h1, h2 {
    font-family:fantasy;
    color: white;
}

p, li {
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family:fantasy;
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}

h6 {
    font-family:fantasy;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

/* .boxText{
    align-items: ;/* white-space: pre;}  */



/*  HEADER LAYOUT */
header {
    margin-bottom: 0px;
    background-color: #242633;
}

nav {
    background-color: #10141b;
    padding: 5px;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    text-align: center;
    flex: 1;
    
}

nav a, nav span {
    font-size: 1rem;
    height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


